
.item-list-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4; /* Fondo gris claro */
    min-height: 70vh; /* Asegura que ocupe una buena parte de la altura */
}

.item-list-container h2 {
    color: #333333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.item-list-container p {
    color: #666666;
    font-size: 1.1rem;
}

.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(227, 27, 35, 0.2) !important; /* Sombra roja sutil */
}