.hover-red:hover {
    color: #E31B23 !important; /* Rojo deportivo al pasar el mouse */
    transition: color 0.3s ease;
}

/* Efecto de pulso suave para llamar la atención al carrito */
.badge {
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.1); }
    100% { transform: translate(-50%, -50%) scale(1); }
}