/* Efecto suave para los links */
.nav-link {
    transition: all 0.3s ease; /* Para que el cambio de color sea suave */
}

.nav-link:hover {
    color: #E31B23 !important; /* Rojo al pasar el mouse */
    transform: scale(1.05); /* Un ligero efecto de crecimiento */
}

/* Estilo para el logo */
.navbar-brand {
    letter-spacing: -1px;
}

/* Hacer que la barra sea un poco transparente al hacer scroll  */
.navbar {
    border-bottom: 2px solid #E31B23; /* Una línea roja delgada en toda la base del Nav */
    backdrop-filter: blur(10px);
    background-color: rgba(33, 37, 41, 0.95) !important;
}