.navbar-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;/* Centra verticalmente los elementos */
    background-color: #181717; /* Fondo oscuro */
    padding: 15px 30px; /* Espacio interior */
    box-shadow: 0 2px 4px rgba(17, 17, 17, 0.1); /* Sombra ligera */
}

/* --- Estilos para los Enlaces de Navegación --- */

.navbar-links {
    display: flex;/* Usa flexbox para alinear los enlaces */
    gap: 25px; /* Espacio entre cada enlace */
}

.nav-link {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color de texto blanco */
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s ease; /* Transición suave para el hover */
}

.nav-link:hover {
    color: #b68946; /* Color dorado al pasar el ratón */
}

/* --- Estilos para el Widget del Carrito --- */

.navbar-widget {
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}