.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #222;
  color: white;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
}

/* Este es el estilo que se aplicará automáticamente al hacer clic */
.active-link {
  color: #ff4500; /* Color naranja/rojo tipo deportivo */
  text-decoration: underline;
  font-weight: bold;
}