.logo-container {
    /* Mantiene el logo alineado */
    display: flex;
    align-items: center;
}

.logo-text {
    /* Estilo del texto */
    font-size: 1.5rem; /* Tama침o de fuente grande */
    color: #4A90E2; /* Un color azul llamativo para el logo */
    font-family: sans-serif;
    font-weight: bold;
    margin: 0; /* Elimina m치rgenes predeterminados del h1 */
    cursor: pointer; /* Indica que es clickable (para cuando a침adas la navegaci칩n) */
}