.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 1.5rem; /* Tamaño de fuente grande */
    color: #c2a64a; /* Un color dorado llamativo para el logo */
    font-family: sans-serif;
    font-weight: bold;
    margin: 0; /* Elimina márgenes predeterminados del h1 */
    cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
}